.hero {
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  padding-right: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  box-sizing: border-box;
  color: #d6d6d6;
  background-color: #1f1f24;
}

.logo {
  padding-top: 4rem;
}

.content {
  padding-bottom: 4rem;
}

.tagline {
  margin-block-end: 0;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 5.5rem;
}

.description {
  margin-block-start: 0.75rem;
  font-family: "Cairo", sans-serif;
  font-size: 1.25rem;
}

.contacts {
  display: flex;
  list-style: none;
  padding: 0;
}

li {
  margin-right: 0.875rem;
  margin-left: 0.875rem;
}
