.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 1.25rem;
  box-sizing: border-box;
  text-align: center;
}

.logo {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-top: 2rem;
}

.logo img {
  width: 6.25rem;
}

.content {
  padding-bottom: 2rem;
}

.tagline {
  margin-block-end: 0;
  font-family: "Allerta Stencil", sans-serif;
  font-size: 2.25rem;
}

.description {
  margin-block-start: 0.75rem;
  font-family: "Cairo", sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
}

/* @media only screen and (max-width: 480px) and (orientation: landscape) {
  .tagline {
    font-size: 5.5rem;
  }

  .description {
    font-size: 1.25rem;
  }
} */

.contacts {
  display: flex;
  list-style: none;
  padding-left: 0;
  padding-bottom: 1rem;
}

li {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

li img {
  width: 1.375rem;
  padding-top: 0.25rem;
  padding-right: 0.625rem;
  padding-bottom: 0.25rem;
  padding-left: 0.625rem;
}
